<div class="view">
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    <div class="text-center white-text mx-5 wow fadeIn">
      <h1 class="mb-4">
        <b>Centrol Educacional Valclênia Falcão</b>
      </h1>
      <p>
        <b>Centrol Educacional Valclênia Falcão</b>
      </p>
      <p class="mb-4 d-none d-md-block">
        <b>Centrol Educacional Valclênia Falcão Centrol Educacional Valclênia Falcão Centrol Educacional Valclênia Falcão Centrol Educacional Valclênia Falcão Centrol Educacional Valclênia Falcão Centrol Educacional Valclênia Falcão .</b>
      </p>
    </div>
  </div>
</div>

<main class="container mt-5 mb-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h1 class="text-center">
        Seja Bem-Vindo ao Centro Educacional Valclênia Falcão
      </h1>

      O <b>Centro Educacional Valclênia Falcão</b> está presente na sociedade há cerca de 25 anos,
      construindo história no cenário educacional com muita seriedade e competência. Proporciona
      o desenvolvimento integral dos alunos, desde a Educação Infantil até o Ensino Fundamental,
      com prestação de serviço educacional de excelência, através do uso de ferramentas tecnológicas
      de última geração, aulas interativas, aulas em 3D com aplicativo de realidade aumentada e
      projetos educacionais que propiciam aos alunos o desenvolvimento de habilidades e competências,
      incentivando-os a interagir e a refletir sobre a construção do conhecimento, a fim de que sejam
      agentes autônomos no processo de aprendizagem.
      Estamos com <b>MATRÍCULAS ABERTAS 2020</b>!

      <br><br>

      A era da hiperconectividade e informação trouxe consigo profundas transformações em todos os níveis
      de nossa sociedade. E isso não poderia ser diferente quando se fala em educação. Dentro desse contexto,
      a proposta pedagógica da escola é um documento que passou a ter uma importância crucial quando o assunto
      é uma instituição de ensino bem-sucedida e alinhada às novas demandas sociais. Deixo CONVITE facultativo
      a quem interessar conhecer o PPP (projeto político pedagógico) e material didático.

      <br><br>

      <b>Lei 867/20146 CB.  NÃO ADOTAREMOS</b>

      <br><br>

      <b>Ideologias de Gênero</b> nos Materiais Didáticos

      <br><br>

      <b>FILOSOFIA</b>

      <br><br>

      Alimos <b>tradição e inovação</b> na busca de um futuro melhor para todos. Acreditamos em metodologias ativas de
      aprendizagem, que estimulam as esferas cognitiva, afetiva e social.

      <br><br>

      <b>OBJETIVOS DA ESCOLA</b>

      <br><br>

      - Tornar o aluno protagonista da sua própria jornada de aprendizado, preparando-o para ser um cidadão crítico.

      <br><br>

      - Desenvolver diversas atividades para os alunos e familiares com foco na inteligência socioemocional.

      <br><br>

      - Assessorar na consolidação das melhores práticas pedagógicas, garantindo a excelência no processo de ensino aprendizado.

      <br><br>

      - Envolver a família, porque o processo de aprendizagem é universal e precisa do envolvimento de todos.

      <br><br>

      - Gerar impacto positivo à sociedade como um todo, pois um mundo melhor depende da capacidade crítica, cooperativa e construtiva.

      <br><br>

      <b>PROPOSTA DE ENSINO</b>

      <br><br>

      1 - Interatividade: por meio de situações-problema siginificativas, o aluno é convidado a participar da construção dos conceitos.

      <br><br>

      2 - Contextualização: para o desenvolvimento dos conteúdos, contextos significativos são apresentados, o que permite que os alunos estabeleçam relações com o cotidiano.

      <br><br>

      3 - Interdisciplinaridade: por meio de relações interdisciplinaridades, os conteúdos são aprendidos de forma ampla e significativa.

      <br><br>

      4 - Transversalidade: os temas contemporâneos trabalhados de forma transversal auxiliam no desenvolvimento de príncipios, valores, e atitudes. Ex. Ed. Financeira, Vida famíliar e Social.

      <br><br>

      5 - Avaliações 3B - Trilhas Online, práticas, AV. Escrita.

      <br><br>

      <b>MÉTODO DE ENSINO</b>

      <br><br>

      Ensino Hibrído, atividades propostas nas esferas digitais, escritas e práticas.

      <br><br>

      Trabalhamos na perspectiva de uma educação pautada na "Metodologia do Aprender Fazendo".

      <br><br>

      Educamos para que crianças, jovens e adultos transformem o mundo

      <br><br>

      <b>STI- SISTEMA DE TEMPO INTEGRAL</b>

      <br><br>

      Para um dia ainda mais completo com uma equipe de profissionais o Sistema de Tempo Integral CEVF é, para alunos do Infantil 2 ao Fundamental 5º ano .

      <br><br>

      <b>STI - DIFERENÇAS</b>

      <br>

      Com oficinas, aula de reforço, alimentação, lazer oferecidos aos alunos matriculados no sistema.

      <br><br>

      Tem como pontos fortes o complemento para alunos:

      <br><br>

      <b>- Oficina de Inglês</b>

      <br>

      Os alunos vivenciam o inglês por meio de conteúdos nas disciplinas de ciências, história e matemática.

      <br>

      -Vivências com Jogos Cooperativose Esportivos

      <br>

      -Oficinas de Psicomotricidade e Musicalização

      <br>

      -Estimulos para desenvolvimento de diversas habilidades

      <br>

      -Soluções criativas com as própias mãos

      <br>

      -Estudo e resolução de tarefas do periodo regular

      <br>

      -Refeições em cardápio desenvolvido por nutricionista

      <br><br>

      <b>SOBRE O AMBIENTE VIRTUAL</b>

      <br><br>

      Além das disciplinas e conhecimentos tradicionais, conceitos de tecnologia e acesso à informação
      através do ambiente digital com uso do Ipad, destinado aos alunos e professores, plataforma de ensino
      com livros digitais, inclusão social, direitos humanos, ética, cidadania, relação com o meio ambiente,
      língua estrangeira, entre outros são incluídos em nossa GRADE DE ESTUDO.

      <br><br>

    </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <app-video-apresentacao></app-video-apresentacao>
      </div>
    </div>
</main>