<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar navegacao" [containerInside]="true">
  <mdb-navbar-brand>
    <a class="navbar-brand logo-wrapper">
      <img src="../../../assets/image/logoVfNomeBranco.png" class="img-fluid" alt="Centro Educacional Valclênia Falcão">
    </a>
  </mdb-navbar-brand>

  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link waves-light" mdbWavesEffect>
          Início
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
          A Escola
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
          Matrícula
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
          Material Escolar
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
          Eventos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
          Agenda
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
          Galeria de Fotos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
          Galeria de Vídeos
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>