<div *ngIf="visivel">
  <app-lottie [lottieConfig]="lottieConfig" [exibir]="visivel" [centralizar]="true" [largura]="740" [altura]="370">
  </app-lottie>
  <h3 class="text-center fixed-bottom loading-text">Carregando...</h3>
</div>

<app-navbar *ngIf="!visivel"></app-navbar>
<router-outlet *ngIf="!visivel"></router-outlet>
<app-footer *ngIf="!visivel"></app-footer>