/* You can add global styles to this file, and also import other style files */

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1C2331!important;
  }
}

.view, body, html { 
  height:100% 
}

.view {
  background-image: url('./assets/image/plano-de-fundo.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover;
}

.navbar {
  background-color:rgba(0,0,0,.2)
}

.page-footer, .top-nav-collapse {
  background-color:#1C2331
}

@media only screen and (max-width:768px){
  .navbar{
    background-color:#1C2331
  }
}